@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');


body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: whitesmoke;
}

.navigation {
  display: flex;
  justify-content: space-between;
  background-color: #00695c;
  color: whitesmoke;

}
.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: rgb(0, 105, 92);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: antiquewhite;
}

.left-nav-half {
    width: 35em;
}
.right-nav-half {
    width: 12em;
}
.nav-half {
  display: flex;
  justify-content: space-evenly;
}

.nav-item {
  cursor: pointer;
  font-weight: 500;
  color: inherit;
}

.nav-item:hover, .nav-item:active {
  color: #ffeb3b;
}
a:hover, a:focus, a:active {
  text-decoration: none;
  color: #ffeb3b;
 }

 .product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

.product-item {
    width: 20rem;
    max-width: 95%;
    margin: 1rem;
}

.product__title {
    font-size: 1.2rem;
    text-align: center;
    color: #4d4d4d;
}

.product__price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.product__description {
    text-align: center;
    color: #4d4d4d;
}

.product-img {
  width: 20em;
  height: 20em;  
}
.grid {
  display: flex;
  justify-content: space-around;
}
.btn {
  display: inline-block;
  padding: 0.25rem 1rem;
  text-decoration: none;
  font: inherit;
  border: 1px solid #00695c;
  color: #00695c;
  background: white;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #00695c;
  color: white;
}

.btn.danger {
  color: red;
  border-color: red;
}

.btn.danger:hover,
.btn.danger:active {
  background: red;
  color: white;
}
.centered {
  text-align: center;
  color:#4d4d4d;
  margin: auto;
  width: 50%;
  border: 1px solid;
}
.image {
  height: 20rem;
}

.image img {
  height: 100%;
}
.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
  width: 100%;
  margin-bottom: 0.25rem;
}

.form-control input,
.form-control textarea {
  border: 1px solid #a1a1a1;
  font: inherit;
  border-radius: 2px;
}

.form-control input:focus,
.form-control textarea:focus {
  outline-color: #00695c;
}

.form-control .invalid {
  border-color:  red;
}
label {
  color: black;
}
.add-product {
  color: black;
  text-align: center;
}
.pagination {
  margin-top: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;

}

.pagination a {
  text-decoration: none;
  color: #00695c;
  border: 1px solid #d6e8e6;
  padding: 0.5rem;
  margin: 0 1rem;
}

.pagination a:hover,
.pagination a:active {
  background: #00695c;
}
.active {
    background: #00695c;
    color: white !important;
}