@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');


body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: whitesmoke;
}

.navigation {
  display: flex;
  justify-content: space-between;
  background-color: #00695c;
  color: whitesmoke;

}
.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: rgb(0, 105, 92);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-nav-half {
    width: 35em;
}
.right-nav-half {
    width: 12em;
}
.nav-half {
  display: flex;
  justify-content: space-evenly;
}

.nav-item {
  cursor: pointer;
  font-weight: 500;
  color: inherit;
}

.nav-item:hover, .nav-item:active {
  color: #ffeb3b;
}
a:hover, a:focus, a:active {
  text-decoration: none;
  color: #ffeb3b;
 }

 .product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

.product-item {
    width: 20rem;
    max-width: 95%;
    margin: 1rem;
}

.product__title {
    font-size: 1.2rem;
    text-align: center;
    color: #4d4d4d;
}

.product__price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.product__description {
    text-align: center;
    color: #4d4d4d;
}

.product-img {
  width: 20em;
  height: 20em;  
}
.grid {
  display: flex;
  justify-content: space-around;
}