

.navigation {
  display: flex;
  justify-content: space-between;
  background-color: #00695c;
  color: whitesmoke;

}
.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: rgb(0, 105, 92);
  padding: 0px 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-half {
  display: flex;
  justify-content: space-around;
  width: 200px;
}
