<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Server Error Occurred</h1>
    <p>We are working on this to fix this, sorry for the inconvenience!</p>

<%- include('includes/end.ejs') %>